.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #ffffff; 
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.0625rem;
  color: #000000;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 2.7rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: #444444;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 0.35rem 0.9rem;
  background-color: #eeeeee; 
  border-radius: 1.875rem; 
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.nav-link:hover {
  color: #ffffff;
  background-color: #000000; 
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  padding: 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
  background-color: white; 
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem; 
  margin-right: 1rem;
}

.profile-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.125rem solid black;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
}

.user-name {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  margin-left: -5px; 
}

.dropdown-menu {
  position: absolute;
  top: 3.125rem;
  right: 0;
  background-color: white;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 9.375rem;
  padding: 0.625rem 0;
  z-index: 1000;
}

.dropdown-item-navbar {
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  color: black;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dropdown-item-navbar:hover {
  background-color: #f5f5f5;
}

.logout-button {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
}

.logout-button:hover {
  background-color: #f5f5f5;
}

.black-button {
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border-radius: 1.56rem;
  border: 0.125rem solid black;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.black-button:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.white-button {
  background-color: white;
  color: black;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: 0.125rem solid black;
  border-radius: 1.5625rem;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.white-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}
