/* SignIn.css */

.auth-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.auth-left {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.auth-left h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.auth-left p {
  font-size: 1rem;
  line-height: 1.5;
}

.auth-right {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.auth-right h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.auth-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.auth-button {
  padding: 12px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #333;
}

.auth-footer {
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}

.auth-footer a {
  color: #007bff;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}


.resend-button {
  background-color: #eeeeee;
  color: black;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.resend-button:hover {
  /* background-color:; */
  color: white;
}

